h1, h2, h3 , h4, h5, h6 {
    font-family: 'poppins', sans-serif;
  }

  h4{
    font-size: 14px;
    font-weight: bold;
  }

  p {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
  }
  
  .WJA {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

.customNav {
    position: fixed;
    justify-content: center;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: #FFFCF7 !important;
    background-size: cover;
    z-index: 10;
    border-bottom: 1px black;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-left: 15px;
    width: 65px;
  }
  .nav-item {
    justify-content: center;
    margin-top: 55px;
    MARGIN-LEFT: 55PX;
  }
  
  /* Navigation links */
  .customNav a {
    color: black !important;
    font-family: 'poppins', sans-serif;
  }
  .navCTA {
    font-size: 15px;
  }

  .customNav2 a {
    color: black !important;
    font-family: 'poppins', sans-serif;
  }
  .navCTA {
    font-size: 15px;
  }

.jumbotron jumbotron-fluid WineBuds{
    background-size: cover;;
    background-repeat: no-repeat;
    height: calc(120vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 55px;
  }
.jumbotron {
  background-color: #FFFCF7;
}

  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

  .container winebuds_intro{

  }

  .winebuds_logo{
    height:auto;
    border:0 none;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }

  .names{
    justify-content: right;
    align-items: right;
    padding-right: 700px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
  }

  .img moodboard{
    padding-right: 100px;
  }

  .proto{
    height:auto;
    border:0 none;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    height: calc(60vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    }

  .moodboard{
    height:auto;
    border:0 none;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    height: calc(60vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }

  .titleside{
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
  }

